# ----------------------------
# Python (Backend)
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/
env/

# ----------------------------
# Environment Variables (IMPORTANT)
# ----------------------------
.env
.env.*

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# IDE / Editor
# ----------------------------
.vscode/
.idea/

# ----------------------------
# Python Build / Cache
# ----------------------------
build/
dist/
*.egg-info/
.eggs/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# ----------------------------
# FRONTEND
# ----------------------------
frontend/node_modules/

# ----------------------------
# Misc
# ----------------------------
*.swp